# Example env for backend
INFURA_IPFS_PROJECT_ID=your_project_id
INFURA_IPFS_PROJECT_SECRET=your_project_secret
RPC_URL=http://127.0.0.1:8545
PRIVATE_KEY=your_deployer_or_university_key
CERT_CONTRACT_ADDRESS=
REGISTRY_CONTRACT_ADDRESS=
UNIVERSITY_PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
CERT_CONTRACT_ADDRESS=0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0
VERIFICATION_CONTRACT_ADDRESS=0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9